<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.um.networkupgrade"
    android:versionCode="441"
    android:versionName="4.4.1"
    android:sharedUserId="android.uid.system">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:icon="@drawable/upgrade_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.NetworkUpgrade" >
        <activity
            android:name=".NetworkUpgradeMainActivity"
            android:label="@string/title_activity_network_upgrade_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name = ".UpgradeService" android:exported="false" >
            <intent-filter>
                <action android:name="com.um.networkupgrade.SERVICE" />
            </intent-filter>
        </service>
        
        <receiver android:name="com.um.networkupgrade.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>