<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.um.cpelistener"
    android:versionCode="12"
    android:versionName="1.2"
    android:sharedUserId="android.uid.system">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CPEListener" >
        <activity
            android:name="com.um.cpelistener.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service android:name = "com.um.cpelistener.ListenService" android:exported="false" >
            <intent-filter>
                <action android:name="com.um.cpelistener.SERVICE" />
            </intent-filter>
        </service>
        
        <receiver android:name="com.um.cpelistener.BootReceiver">
            <intent-filter>
                 <action android:name="com.um.cpelistener"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.um.cpelistener.UpdateAccountReceiver">
            <intent-filter>
                <action android:name="com.unionman.action.UPDATE_ACCOUNT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.um.cpelistener.ErrorReportReceiver">
            <intent-filter>
                <action android:name="android.unionman.action.ERROR_REPORT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
